
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap');
:root {
    --primary-color:   #2BAAEC;
    --secondary-color: #c1dff0;
    --third-color:#D4D9DD;
    --btn-color:#25e6c8;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html, body {
    font-family: 'Roboto Slab', serif;
    line-height: 1.5;
  }
  .container {
    width: 100%;
    margin: auto;
  }

  .bg-dark {
    background-color:var(--primary-color);
    color: rgb(35, 37, 48);
  }
  .bg-light {
    background-color:var( --secondary-color);
    color: rgb(94, 92, 92);
  }
  
  .btn-primary {
    color: #16acc0;
  }
  a {
    text-decoration: none;
    color: black;
  }
  a:hover {
    color: var(--btn-color);
  }

  .bg-secondary{
      background-color: var(--secondary-color);
  }
  
  .bg-primary{
    background-color: var(--primary-color);
  }
  
  .bg-thrid{
    background-color: var(--third-color);
  }
  .bg-fouth{
    background-color: var(--btn-color);
  }
  .clr-primary{
    color: var(--primary-color);
  }
  .btnClr-primary{
   color: var(--btn-color);
  }
  /* TOP NAV */
.top-nav {
    padding: .16rem 1rem;
    display: none; 
  }
.top-nav .container, 
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
    align-items: center;
    margin-left:15% ;
    display: flex;
    flex-direction:column;
}
.hour{
    align-items: center;
    margin-left:10% ;
    font-size: 0.6rem;
    padding: .2rem;
    
}
.fa-clock{
   color: #4da8f3;
   font-weight: lighter;
   
}

.collapse:not(.show) {
  display: none;
}
.navbar {
  
    padding: .6rem 3rem;
   
  }

  .navbar-toggler {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.8rem;
    color:  #333;
  }
  .navbar-nav {
    display: flex;
    flex-direction: column;
    list-style: none;
  }
.mlogo{
    font-size: 1rem;  
    padding-bottom: 0;  
}
.slogan{
  font-size: .6rem;  
  display: block;
  opacity: 60%;
  
}

#showcase {
    background-color: var(--third-color); 
  }

  #about-us {
    background-color: var(--primary-color); 
  }
  #showcase .container ,
    #about-us .container ,
     #appointment .container ,
     #footer .container  {
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
  }

  #about-us .container .about-heading {
    border-bottom: 3px solid var(--btn-color) ;
    padding: 1rem 1.2rem;
    margin-bottom: 2rem;
  }
  #about-us .container .about-heading h1 ,
   #showcase .container h1{
    font-weight: 900;
   }

  .content {
    align-self: center;
    text-align: center;
    padding: 5rem;
  }
  .text h1 {
    font-size: 1.5rem;
    letter-spacing: 0rem;
    margin-bottom: 1rem;
  }
  .text p {
    font-size: 0.8rem;
    font-weight: 200;
    text-align: left;
    margin-bottom: 1rem;
  }
 

  #showcase .container .showcase-svg{
    display: none;
  }
 
 
 .btn {
  width: 80%;
  max-width: auto;
}

.btn,.btn-primary{
  background-color: var(--btn-color);
  height: 1.6rem;
  padding: .4rem 1rem;
  border-radius: 5px;
  text-align: center;
  color: #ebeef0;
  border: none;
}

.btn-showcase:hover{
  background-color: var(--primary-color);
  height: 1.6rem;
  padding: .4rem 1rem;
}

.box-patient-feedback{
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  margin-top: 3rem;
}

.avater{
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  color: #ebeff1;
}
#service{
  width: 100%;
  background-color: var(--third-color);
}
#service .container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}
#about-us .container .aboutus-svg {
  display: none;
}

.paient-feedback{
  padding-right: 0 1rem;
  border-right: 3px solid   var(--btn-color);
}

#service .container .service-title h1 {

    font-size: 1.5rem;
    letter-spacing: .5rem;
    font-weight: 400;
    text-align: center;
    margin: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    border-bottom:3px solid var(--btn-color);
}

.wrapper{
  width: 60%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr ;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin: 1.5rem auto;
 
}
.wrapper .service-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem .8rem;
  align-items: center;
  background-color:#fff;
  border-radius: 4px;
}
.wrapper .service-card svg{
 height: 30%;
 width: 30%;
 border-radius: 50px;
}
.wrapper .service-card:hover{

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}
.onhover:hover{
  background-color: var(--primary-color);
  box-shadow: 3px rgb(156, 203, 248);
  border: 3px solid rgb(156, 203, 248);
}


.service-card p{
  text-align: center;
  font-size: 0.8rem;
  opacity: 60%;
}
#appointment .container {
  width: 100%;
  
}

#appointment .container {
  background-color: var(--primary-color);
  opacity: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#footer {
  background-color: var(--primary-color); 
  align-content: center;
}
#footer .container {
  
  font-size: 1.2rem;
  text-align: center;
  color: white;
  padding: 1.2rem 1rem;
  width: 100%;
  height: 60px;
}
#appointment .container p{
  color: white;
  font-size: 1.2rem;
  text-align: center;
  padding: .6rem 3rem;
}
#appointment .container button{
  background-color: white;
  color: var(--primary-color);
  border: none;
  border-radius: 5px;
  padding: .5rem 1rem;
  margin: 1rem 2rem;
}

@media (min-width: 768px) {
    .navbar-toggler {
      display: none;
    }
    .collapse:not(.show) {
      display: block;
    }
    .navbar-nav {
      flex-direction: row;
    }
    a {
      padding: 0 .5rem;
    }
    .top-nav {
      display: block;
    }
    .container {
      max-width: 720px;
    }
    #showcase .container .showcase-svg{
      display: inline-block;
      height: auto;
    }
    #about-us .container .aboutus-svg {

     display: block;
     height: auto;
    }

    .text h1 {
      font-size: 1.6rem;
      letter-spacing: 0;
      font-weight: 500;
      opacity: 80%;
      margin-bottom: 1rem;
    }
    .text p {
      font-size: 0.8rem;
      font-weight: 300;
      opacity: 80%;
      margin-bottom: 1rem;
    }
    .paient-feedback{
      
      border-right: none;
    }
    .content {
      text-align: left;
    }
    .btn {
      width: auto;
     
    }
    .wrapper .service-card .svg-box {
       height: 30%;
       width: 30%;
       border-radius:  50px ; 
     }
   
    .wrapper{
      width: 80%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 1rem;
      justify-content: center;
      align-items: center;
      margin-bottom: 6rem;
      
    }
   
  #appointment {
      width: 100%;
      background-color: var(--primary-color);
      opacity: 80%;
      align-content: center;
      padding: 1.8rem .5rem;
      
  } 


}


 @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
    .navbar{
      align-content: center;
      padding: 1.8rem 2rem;
       
    }
  
    .navbar .container h1 a{
     font-weight: 600;
     opacity: 60%;
    }
     
    #about-us .container .aboutus-svg {

     display: block;
     height: auto;
    }
    .text h1 {
      font-size: 1.8rem;
      letter-spacing: 0.2rem;
      font-weight: 900;
      opacity: 80%;
      margin-bottom: 1rem;
    }
    .text p {
      font-size: 0.8rem;
      font-weight: 200;
      opacity: 80%;
      margin-bottom: 1rem;
    }
    .btn,.btn-primary{
      background-color: var(--btn-color);
      height: 3rem;
      padding: .8rem 1rem;
      font-weight: 600;
      border-radius: 8px;
      text-align: center;
      color: #ebeef0;
      border: none;
    }
    
    .btn-showcase:hover{
      background-color: var(--primary-color);
      height: 3.2rem;
      padding: .8rem 1rem;
      font-weight: 600;
      border-radius: 8px;
      text-align: center;
      color: #ebeef0;
      border: none;
    }
         
    .wrapper{
      width: 80%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 1rem;
      justify-content: center;
      align-items: center;
     
    }
         .wrapper .service-card .svg-box{
          height: 30%;
          width: 30%;
          border-radius:  50px ; 
        }
     
  }
 
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;  
    }
    .navbar{
      align-content: center;
      padding: 1.8rem 2rem;
       
    }
  
    .navbar .container h1 a{
     font-weight: 600;
     opacity: 60%;
    }
     
    #about-us .container .aboutus-svg {

     display: block;
     height: auto;
    }
    .text h1 {
      font-size: 2.6rem;
      letter-spacing: 0.05rem;
      font-weight: 500;
      opacity: 80%;
      margin-bottom: 1rem;
    }
    .text p {
      font-size: 0.8rem;
      font-weight: 200;
      opacity: 80%;
      margin-bottom: 1rem;
    }
    .btn,.btn-primary{
      background-color: var(--btn-color);
      height: 3rem;
      padding: .8rem 1rem;
      font-weight: 600;
      border-radius: 8px;
      text-align: center;
      color: #ebeef0;
      border: none;
    }
    
    .btn-showcase:hover{
      background-color: var(--primary-color);
      height: 3.2rem;
      padding: .8rem 1rem;
      font-weight: 600;
      border-radius: 8px;
      text-align: center;
      color: #ebeef0;
      border: none;
    }
         
    .wrapper{
      width: 80%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 1rem;
      justify-content: center;
      align-items: center;
     
    }
         .wrapper .service-card .svg-box{
          height: 30%;
          width: 30%;
          border-radius:  50px ; 
        }
      
     
   
  }
